.DS_Store
.git/
.github/
.gitattributes
**/.gitignore
**/.dockerignore
.defragrc.yaml
Dockerfile
docker-bake.hcl
dev.js
out/

**/README.md
**/.env*
**/.pino-prettyrc

**/node_modules/
**/build/
**/nodemon.json
**/.svelte-kit
**/.eslint*
**/.prettier*
**/.node-version
**/*.test.ts
**/*.tsbuildinfo

**/.tool-versions/


/eslint-plugin-safee/
