services:
  postgres:
    image: postgres:15
    ports:
      - "15432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=safee
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 2s
      timeout: 5s
      retries: 5
    volumes:
      - "postgres:/var/lib/postgresql/data"
  redis:
    image: redis
    ports:
      - "16379:6379"
    volumes:
      - "redis:/data"
volumes:
  postgres:
  redis:
