services:
  postgres:
    build:
      x-bake:
        cache-to: type=gha
      context: ./database
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=safee
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 2s
      timeout: 5s
      retries: 5
    volumes:
      - "postgres:/var/lib/postgresql/data"
  google-pubsub:
    image: gcr.io/google.com/cloudsdktool/google-cloud-cli:latest
    entrypoint: gcloud beta emulators pubsub start --host-port=0.0.0.0:8085 --project=safee-dev
    ports:
      - "8086:8085"
  redis:
    image: redis
    ports:
      - "6399:6379"
    volumes:
      - "redis:/data"
volumes:
  postgres:
  redis:
